@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>
            *Menu des questions*
        </p>
        <p> @Html.ActionLink("Menu des Questions", "MenuQuestion")</p>
    </div>
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>*Menu des Technologies*</p>
        <p> @Html.ActionLink("Menu Technologie", "MenuTechno")</p>
    </div>
    <div class="col-md-4">
        <h2>Difficultés</h2>
        <p>*Menu des Difficultés*</p>
        <p> @Html.ActionLink("Menu des Difficultés", "MenuDifficult")</p>
    </div>
    <div class="col-md-4">
        <h2>Quizzes</h2>
        <p>*Menu des Quizzes*</p>
        <p> @Html.ActionLink("Menu des Quizzes", "MenuQuizzes")</p>
    </div>
    <div class="col-md-4">
        <h2>Utilisateurs</h2>
        <p>*Menu utilisateur*</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Acceder au menu &raquo;</a></p>
    </div>
</div>